form.user{
	display: block;
	margin: 4%;
    background-color: #333;
    padding: 30px 6%;
    box-shadow: gray 3px 3px 10px;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    border: 3px solid #555;
    border-radius: 30px;
    color: #ddd;
}

form.user h1{
    margin: 0px;
}

form.user p{
    color: red;
}

form.user input[type=text],form.user input[type=password]{
	width: 90%;
    height:30px;
    background-color: #ddd;
    border-radius: 30px;
    padding-left: 0.5cm;
    margin-top: 5px;
    box-shadow: 0 0 3px 2px #aaa;
}

form.user input[type=text]:focus,form.user input[type=password]:focus{
    outline: none;
    box-shadow: 0 0 3px 2px #fff;
}

form.user input[type=submit]{
    margin-top: 48px;
    width: 50%;
    padding: 5px;
    border-radius: 30px;
    font-size: 80%;
}

form.user label{
    display: inline-block;
    color: #ddd;
    margin-top: 20px;
    width: 100%;
}

