/* ====================================================================
		container tags
==================================================================== */

	html 	
	{
		background: url(../Pictures/svg-planet-stars.png) no-repeat center center fixed;
		background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		font-family:arial;
	}

	body
	{
	/*	background-color: green;	*/
	}
	
	form
	{
		width:auto;
		border:5px;
		border-color:#e69100;
		border-style:solid;
		font-size:10px;
		background-color:#062432/*#072837*/;
	}

	nav
	{
		margin: 60px 0px 0px 0px;
		width: 10%;
		float: left;
		text-align: center;
		display: block;
		padding: 10px;
	/*	background-color: green;	*/
	}

	aside
	{
		min-width: 240px;
		width: 20%;
		float: right;
		text-align: center;
		display: block;
		padding: 10px;
	/*	background-color: yellow;	*/
	}


	header
	{
		width: auto;
		text-align: center;
		float: center; 
		display: block;
		padding: 0px 0px 20px 10px;
		margin:0px;
	/*	background-color: purple;	*/
	}

	footer
	{
		width: auto;
		text-align: center;
		float: center;
		display: block;
		padding: 10px;
	/*	background-color: grey;		*/
	}

	article
	{
		width: auto;
		text-align: center;
		float: center;
		display: block;
		padding: 10px;
	/*	background-color: orange;	*/	
	}

/* ====================================================================
		text tags
==================================================================== */

	p
	{
		color:#ddd;
		font-size:150%;
		text-align:left;
	/*	text-indent:15%;	*/
	}

	h1
	{
		margin: 0px;
		padding:;
		color:#ed1d24;
		font-size:600%;
	}

	h2
	{
		color:#007000;
		font-size:300%;
		text-align:left;
	/*	text-indent:10%;	*/
	}

	h3
	{
		color:blue;
	}

	h4
	{
		color:yellow;
	}

	h5
	{
		color:#007000;
	}

	h6
	{
		color:red;
	}

	a
	{
		color:#d9d/*#E77C2E*/;
		font-size:120%;
		text-align:left;	
	}

/* ====================================================================
		classes
==================================================================== */

	p.left
	{
		text-align:left;
		text-indent:30px;
	}
	p.center
	{
		text-align:center;
	}
/*		navbar		*/
	nav.PriBar
	{
		width:80%;
		height:80px;
		min-width: 666px;
		display:block;
		background-color:/*#ff8e3d*/#E77C2E;
		color:#ddd;
		text-align:left;
		padding: 0px 0px 0px 0px;
		list-style:none;
		margin:0px 20% 0px 0px;
		border-radius:50px 100px 20px 50px;
		border-width:5px;
		border-style:solid;
		border-color:#007000;
		border-width:5px;
		box-shadow:11px 9px 3px #003000;
	}

	nav.PriBar > ul
	{
		margin: 0px;
	}

	nav.PriBar > ul > li
	{
		display:inline-block;
		height:44px;
		padding:18px 1%;
		min-width:10%;
		margin: 0px;
	}

	nav.PriBar > ul > li:hover
	{
		background-color:#008000/*#ff9447*/;
	} 

	nav.PriBar > ul > li > a
	{

		font-size:30px;
		text-decoration:none;
		color:#ddd;
		position:relative;
	}

	nav.PriBar > ul > li:hover > a
	{
		color:#ddd;
	}

	nav.PriBar > ul > li > ul > li
	{
		display:none;
	}

	nav.PriBar > ul > li:hover > ul.BarTable > li , ul.BarTable:hover > li, ul.BarTable > li:hover ~ nav.PriBar > ul > li > ul.BarTable > li
	{
		display:table;
		padding:5px 0px 0px 0px;
		background-color:#E77C2E;
		width:300px;
		height:40px;
		border-color:#007000;
		border-width:5px 5px 5px 5px;
		border-style:solid;
		font-size:20px;
		box-shadow:6px 6px 3px #003000;
	}

	ul.BarTable
	{
		margin:28px 0px 0px -12px;
		padding:0px;
		position:absolute;
		list-style:none;
	}

	ul.BarTable > li:first-child
	{
		border-top-margin: 0px;
	}

	ul.BarTable > li:last-child
	{
		border-radius:0px 0px 20px 20px;
	}

	ul.BarTable > li
	{
		display:none;
	}

	nav.PriBar > ul > li:hover > ul.BarTable > li:hover,nav.PriBar > ul > li > ul.BarTable > li:hover
	{
		display:block;
		color:yellow;
		border-color:#007000;
/*		border-width: 5px;	*/
		border-style:solid;
		background-color:/*#BD7D26*/#ff9447;
		width:300px;
		font-size:20px;
	}

	ul.BarTable > li > a
	{
		display:block;
		color:#ddd;
		text-decoration:none;
		text-indent:50px;
	}

	.Comercial
	{
		box-shadow:5px 5px 6px #07b;
		border-radius:10px 50px 20px 30px;
		background-color:#269eda;
		padding:25px;
	}

	.comercialContent *
	{
		float:center;
	}

	.hidden
	{
		display:hidden;
	}

/* ====================================================================
		identities
==================================================================== */

	#contentContainer p
	{
		color:#111;
	}

	#pageContainer
	{
		width: 100%;
		float: center;
		text-align: center;
		display: block;
	/*	background-color: blue;		*/
	}

	#contentContainer
	{
		background-color:#ddd;
		float: center;
		text-align: center;
		display: block;
	/*	background-color: blue;		*/
	}

	#mainTitle
	{
		/*width:50%;*/
		width:400px;
		height:200px;
		padding:25px;
		background-color:#005000;
		border-radius:70px 10px;
		box-shadow: 6px 4px 3px #003000;
	}

	#pageSection
	{
		margin:35px 0px 45px 0px;
		width:100%;
		min-width:350px;
		background-color:inherit;
		width: 45%;
		float: left;
		display: block;
		padding: 10px;
		border-radius:30px 30px 100px 20px;
		box-shadow: 6px 4px 3px #888;
	/*	background-color: red;		*/
	}

	#pageFooter
	{
		width: 75%;
		float: left;
		text-align: left;
		display: block;
		margin:0px 0px 0px 5%;
		padding: 0px;
		font-size: 50%;

	}

	#pageHeader
	{
		width: 75%;
		float: left;
		text-align: left;
		display: block;
		padding: 30px 150px 25px 50px;

	}
