table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: grey 3px 3px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #333;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #555;
    color: #ddd;
}

tr:not(:nth-child(even)) {
    background-color: #ddd;
    color: #555;
}

table a{
	display: flex;
	height: 100%;
	width: 100%;
	color: inherit;
	text-decoration: none;
}

.middle{
	text-align: center;
}

@media screen and (max-width: 550px) and (min-width: 351px){
	table {
		font-size: 70%;
	}
}

@media screen and (max-width: 350px){
	table {
		font-size: 50%;
	}
}